@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Work Sans', sans-serif; */
@font-face {
  font-family: "Larish Neue";
  src: url("../fonts/LarishNeueSemibold.woff");
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridFull {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.gridContent {
  grid-column: 2/span 1;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr;
}

.blackBg {
  background-color: #000;
}

.whiteBg {
  background-color: #fff;
}

.rsvp {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 40px;
}
.rsvp:hover {
  background-color: #fff;
  color: #000;
}

.tinyTextWhite {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  line-height: 2em;
  letter-spacing: -0.04em;
}

.tinyTextBlack {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  line-height: 2em;
  letter-spacing: -0.04em;
}

.subheadBlack {
  font-family: "Larish Neue", serif;
  font-size: 80px;
  line-height: 1em;
}

.subheadWhite {
  font-family: "Larish Neue", serif;
  font-size: 80px;
  color: #fff;
  line-height: 1em;
}

.serifTextWhite {
  font-family: "Larish Neue", serif;
  font-size: 30px;
  color: #fff;
}

.serifTextBlack {
  font-family: "Larish Neue", serif;
  font-size: 30px;
  color: #000;
}

/* ----------------------------------------------- HEADER ----------------------------------------------- */
header div {
  text-align: center;
  grid-column: 2/span 1;
}
header div .imageLine {
  height: 500px;
  margin-bottom: 55px;
  margin: 0 auto;
  grid-column: 1/5;
  opacity: 0.5;
}
header div h1 {
  font-family: "Larish Neue", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  line-height: 0.8em;
  grid-column: 1/5;
}
header div .outline {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  grid-column: 1/5;
}
header div h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-column: 1/5;
}
header div section {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
header div section img {
  width: 60px;
  height: auto;
}

/* ----------------------------------------------- MAIN ----------------------------------------------- */
main .first {
  background: url("../images/map.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 100% 80%;
  background-color: #000;
}
main .first div {
  grid-column: 2/span 1;
  margin-bottom: 150px;
}
main .first div .bigText {
  font-family: "Larish Neue", serif;
  font-size: 90px;
  color: #fff;
  grid-column: 1/5;
  margin-top: 80px;
  margin-bottom: 100px;
}
main .first div div {
  grid-column: 1/5;
  margin-bottom: 25px;
}
main .first div div .bigText {
  margin: 0;
}
main .second div {
  grid-column: 2/span 1;
  position: relative;
  margin-top: 450px;
  margin-bottom: 300px;
}
main .second div img {
  position: absolute;
}
main .second div .imgAction1 {
  grid-column: 4/5;
  position: absolute;
  margin-top: -520px;
}
main .second div .imgAction2 {
  position: absolute;
  margin-top: -140px;
  margin-left: -60px;
  grid-column: 1/2;
}
main .second div .imgAction3 {
  grid-column: 4/5;
  position: absolute;
  margin-top: 260px;
  margin-left: 160px;
}
main .second div .imgAction4 {
  grid-column: 1/2;
  position: absolute;
  margin-top: 500px;
  margin-left: 80px;
}
main .second div .imgAction5 {
  grid-column: 3/5;
  position: absolute;
  margin-top: 700px;
  margin-left: 150px;
}
main .second div .imgAction6 {
  grid-column: 1/2;
  position: absolute;
  margin-top: 1000px;
  margin-left: -120px;
}
main .second div .imgAction7 {
  grid-column: 3/5;
  position: absolute;
  margin-left: 20px;
  margin-top: 1350px;
}
main .second div .picSize00 {
  width: 440px;
}
main .second div .picSize01 {
  width: 110%;
}
main .second div .picSize02 {
  width: 360px;
}
main .second div .picSize03 {
  width: 300px;
}
main .second div h3 {
  grid-column: 2/4;
}
main .second div .section02Text01 {
  margin-top: 30px;
  margin-bottom: 750px;
}
main .second div p {
  grid-column: 2/4;
}
main .third div {
  grid-column: 2/span 1;
  margin-top: 200px;
  margin-bottom: 180px;
}
main .third div .tinyTextWhite {
  grid-column: 1/2;
  margin-bottom: 20px;
}
main .third div .subheadWhite {
  grid-column: 1/2;
}
main .third div .articleQuote {
  grid-column: 3/5;
}
main .third div .articleQuote .serifTextWhite {
  margin-bottom: 20px;
}
main .third div .imgCouple01 {
  grid-column: 1/5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 500px;
  position: relative;
}
main .third div .imgCouple01 .imgBear {
  width: 70%;
  position: absolute;
  z-index: 5;
}
main .third div .imgCouple01 .imgPin {
  width: 35%;
  position: absolute;
  margin-left: 45vw;
  margin-top: 6vh;
  z-index: 5;
}
main .fourth div {
  grid-column: 2/span 1;
  margin-top: 350px;
  margin-bottom: 500px;
}
main .fourth div .circularRotationImg {
  display: block;
  position: absolute;
  width: 400px;
  margin-left: 55%;
  margin-top: -445px;
  z-index: 4;
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
main .fourth div .tinyTextBlack {
  grid-column: 1/2;
  margin-bottom: 20px;
}
main .fourth div .subheadBlack {
  grid-column: 1/2;
}
main .fourth div .articleQuote {
  grid-column: 3/5;
}
main .fourth div .articleQuote .serifTextBlack {
  margin-bottom: 20px;
}
main .fourth div .imgCouple02 {
  grid-column: 1/5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 500px;
  position: relative;
}
main .fourth div .imgCouple02 .imgPoster {
  width: 35%;
  position: absolute;
  margin-right: 48vw;
  margin-top: 6vh;
}
main .fourth div .imgCouple02 .imgArtwork {
  width: 70%;
  position: absolute;
}

/* ----------------------------------------------- FOOTER ----------------------------------------------- */
footer {
  position: relative;
  overflow: hidden;
}
footer .textBannerAnimation {
  position: absolute;
  margin: 700px 0 0 0;
  grid-column: 1/4;
  animation: flyingText 8s infinite linear alternate;
  white-space: nowrap;
  width: 210%;
  rotate: 45deg;
}
footer .textBannerAnimation h1 {
  font-family: "Larish Neue", serif;
  text-transform: uppercase;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9333333333);
  font-size: 100px;
}
footer .textBannerAnimation h1 span {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes flyingText {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-50%);
  }
}
footer div {
  margin: 200px 0 100px 0;
}
footer div .tinyTextWhite {
  grid-column: 1/2;
  margin-bottom: 20px;
}
footer div .serifTextWhite {
  grid-column: 1/3;
  margin-bottom: 50px;
}
footer div .rsvp {
  grid-column: 1/1;
  width: min-content;
}
footer div section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column: 1/5;
  margin-top: 150px;
}
footer div section article div {
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}
footer div section article div .imgSocials {
  width: 22px;
}
footer div section article .tinyTextWhite {
  margin-bottom: 0;
}
footer div section .articlePartnerLogos {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 25px;
}
footer div section .articlePartnerLogos .partnerLogos {
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
